body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-width: 480px;
  font-size: 12px;
  font-family: 'AnonymicePro', 'Anonymous Pro', sans-serif;
  line-height: 1.66;
  word-wrap: break-word;
  background: linear-gradient(3deg, rgba(21,207,253,0), rgba(21,207,253,1));
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #014A5D;
  font-weight: bold;
}

a:hover {
  color: #15CFFD;
}

a h1 {
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  margin: 20px 0px;
}

p ul {
  padding: 20px 0px 20px 20px;
  margin: 0px 0px;
}

p ul {
  margin: 0px 10px;
}

.icon {
  display: inline-block;
  width: 21px;
  max-height: 21px;
  vertical-align: -3px;
}

#header {
  margin-top: 50px;
  width: 100%;
}

.header_body {
  color: #FFF;
  background: #000;
  border-radius: 30px;
  text-shadow:
    -1px -1px 0px #014A5D,
    1px -1px 0px #014A5D,
    -1px 1px 0px #014A5D,
    1px 1px 0px #014A5D;
  margin: 0px auto -45px auto;
  display: table;
  position: relative;
  z-index: 1;
  padding: 0px 30px;
}

.header_body h1 {
  font-size: 2em;
  margin: 0px;
}

#header_menu a:hover, .body_menu a:hover {
  color: #FFF;
  text-decoration: none;
}

.header_logo {
  max-height: 120px;
  max-width: 100%;
  position: relative;
  z-index: 4;
}

.header_title {
  padding: 24px;
  font-weight: 400;
  line-height: 1em;
}

.header_button {
  position: fixed;
  height: 80px;
  right: 20px;
  top: -5px;
  z-index: 4;
}

.header_top {
  max-width: 80%;
  margin: 0px auto;
  position: relative;
  text-align: center;
}

.header_button button:hover, #top_button:hover {
  color: #FFF;
}

.header button {
  background: none;
  color: #15CFFD;
  font-size: 80px;
  text-shadow:
    -1px -1px 0px #014A5D,
    1px -1px 0px #014A5D,
    -1px 1px 0px #014A5D,
    1px 1px 0px #014A5D;
  border: none;
}

.button_rotate {
  transform: rotate(45deg);
  margin-left: 9px;
}

.menu {
  position: relative;
  width: 100%;
}

.menu_stick {
  position: fixed !important;
  background-color: #000;
  z-index: 3;
  top: 0px;
}

.menu_stick ul {
  margin:0px !important;
  padding: 0px;
}

#top_button {
  position: absolute;
  left: 10px;
  font-size: 55px;
  font-weight: bold;
  line-height: 80px;
}

#header_menu {
  display: block;
  position: absolute;
  top: 0px;
  margin-bottom: -75px;
}

#header_menu, .body_menu {
  width: 100%;
  min-height: 60px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-bottom: -100px;
}

#header_menu ul {
  max-width: 90%;
  margin-top: -16px;
  padding: 10px 10px;
}

#header_menu li {
  margin: 15px auto;
}

.body_menu ul {
  margin: 15px auto 0px auto;
  padding: 15px 0px;
}

#header_menu ul, .body_menu ul {
  list-style: none;
  background-color: #000;
  display: inline-block;
}

#header_menu li, .body_menu li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1em;
}

#header_menu a, .body_menu a {
  margin: 10px auto;
  cursor: pointer;
  padding: 0px 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #15CFFD;
  text-decoration: none;
}

#menu_spacer {
  height: 75px;
  background-color: #000;
  width: 100%;
  display: none;
}

.stats {
  display: block;
  margin: 24px auto 0px auto;
  padding: 12px 24px;
  color: #323232;
  background-color: #15CFFD;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.stats_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.stats_item:not(:last-child) {
  border-bottom: 1px solid #323232;
}

.stats_label {
  display: flex;
  align-items: center;
}

.stats_count {
  margin-left: 8px;
}

.md,
.content {
  padding: 24px;
  flex: 1 1 auto;
  min-height: 50px;
  color: #fff;
}


.content h3 {
  color: #15CFFD;
}

.heading,
.languages {
  text-align: center;
}

.languages {
  margin: 115px 15% 10px 15%;
}

.languages a, .card a {
  text-decoration: none;
}

.languages_title {
  margin: 0;
  font-weight: 400;
}

.languages_name,
.languages_title {
  text-transform: uppercase;
}

.languages_name {
  display: inline-block;
  white-space: nowrap;
  margin: 8px 4px;
  padding: 4px 12px;
  border-radius: 7px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

.languages_name:active,
.languages_name:focus,
.languages_name:hover,
.card:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, .40), 0 10px 10px rgba(0, 0, 0, .40);
}

.repos {
  list-style: none;
  padding: 0px;
}

.repos_item {
  margin: 0px 0px 24px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  flex: 1 1 auto;
  color: #fff;
  background-color: #323232;
  line-height: 1.4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.card a {
  color: #15CFFD;
}

.card_content {
  flex-grow: 1;
  padding: 8px 16px 12px;
}

.card_footer {
  padding: 12px 16px;
  border-top: 1px solid #014a5d;
}

.repo_title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 8px 16px 0;
  line-height: 24px;
  font-size: 1.5em;
  font-weight: 400;
}

.repo_title-text {
  flex-grow: 1;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.repo_title-icon {
  flex: none;
  width: 32px;
  height: 32px;
  margin: 0 0 0 8px;
  color: #323232;
}

.repo_description {
  font-size: 1.2em;
  line-height: 1.6;
  max-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-overflow: ellipsis;
}

.repo_summary {
  white-space: nowrap;
}

.repo_summary-item {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  color: currentColor;
}

.repo_summary-item:not(:first-child) {
  margin-left: 16px;
}

.footer {
  text-align: center;
  color: #FFF;
  background-color: #014A5D;
}

.footer {
  width: 100%;
}

.footer-copyright {
  margin: 24px;
}

/* Responsive Design */
@media (min-width:480px) {
  .header {
    background-size: cover;
    color: #fff;
  }

  .header_top {
    height: 90px;
  }

  .header_main {
    max-width: 1140px;
    margin: 0 auto;
  }

  .stats {
    max-width: 400px;
    border-radius: 7px;
    margin-bottom: 24px;
  }

  .repos {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 5px;
  }

  .repos_item {
    display: flex;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 12px 0px 12px;
  }

  .card {
    border-radius: 7px;
  }
}

@media (min-width:768px) {
  body {
    font-size: 1.2em;
  }
  .repos_item {
    flex-basis: 50%;
    max-width: 50%;
  }
  .md p, .md ul, .md ol, .md li {
    margin: 20px 20%;
  }
}

@media (min-width:992px) {
  .repos_item {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .md p, .md ul, .md ol, .md li {
    margin: 20px 30%;
  }
}

.body_menu ul {
  width: 100%;
}

.body_menu a {
  border: solid 10px #000;
  padding: 0px 10px;
  border-radius: 10px;
}

.active-project {
  background-color: #53BCE6;
  border: solid 10px #53BCE6 !important;
  color: #000 !important;
}

.blink_reload {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
