.md {
  color: #000;
}

.md p, .md ul, .md ol, .md li, .md h3, .md h4, .md h5, .md h6 {
  font-size: 20px;
  margin: 10px 10%;
}

.md h3, .md h4, .md h5, .md h6 {
  padding: 10px 20px;
  display: inline-block;
}

.md ul {
  margin-left: 10px;
}

.md ol {
  margin-left: 20px;
}

div.md {
  padding: 0px;
  margin: 0px;
  margin-top: 50px;
}

.header_title,
h2.markdown-h2 {
  margin: 20px auto;
  padding: 20px 30px;
  display: table;
  background: #000;
  max-width: 80%;
}

.header_title,
h1.markdown-h1,
h2.markdown-h2,
h3.markdown-h3,
h4.markdown-h4,
h5.markdown-h5,
h6.markdown-h6 {
  color: #fff;
}

h1.markdown-h1,
h2.markdown-h2 {
  text-align: center;
}

h1.markdown-h1 {
  background-image: url('/images/spray.svg');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 300px 5% 300px 5%;
  margin: -200px auto -200px auto;
  font-size: 2.2em;
}

h1.markdown-h1 a {
  color: #fff;
  text-decoration: none;
}

h3.markdown-h3 {
  max-width: 60%;
  background-color: #323232;
}

h4.markdown-h4,
h5.markdown-h5,
h6.markdown-h6 {
  padding: 10px 20px;
}

h4.markdown-h4 {
  background-color: rgba(0, 0, 0, 0.3);
}

h5.markdown-h5 {
  background-color: rgba(0, 0, 0, 0.2);
}

h6.markdown-h6 {
  background-color: rgba(0, 0, 0, 0.1);
}

code.markdown-code,
blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 12%;
  padding: 20px;
  display: block;
}

blockquote {
  border-left: solid 3px #000;
}

blockquote p {
  padding: 0px;
  margin: 0px;
}

span.markdown-code-language {
  margin: 20px 20px -20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #EA3002;
  width: -moz-available;
  width: -webkit-fill-available;
  display: inline-block;
}

code[class^="markdown-code-"] {
  margin-top: 0px;
}

span.markdown-inline {
  background-color: rgba(64, 64, 64, 0.5);
  border: solid 1px rgba(192, 192, 192, 0.5);
  padding: 0px 5px 2px 5px;
}

a span.markdown-inline {
  color: #000;
  text-decoration: underline;
  margin-left: 8px;
}

div.markdown-img-container {
  text-align: center;
  width: 100%;
}

img.markdown-img {
  position: relative;
  padding: 20px auto;
  max-width: 50%;
}

div.markdown-container {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

div.markdown-container-warning {
  background-color: rgba(255, 255, 0, 0.2);
}

table.markdown-table {
  margin: 20px auto;
  padding: 0px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  border-spacing: 0px;
}

tr.markdown-tr {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 20px;
}

tr.markdown-tr-heading {
  background-color: rgba(0, 0, 0, 0.2);
}

td.markdown-td,
th.markdown-th {
  padding: 10px;
  text-align: left;
  margin: 0px;
  border: solid 1px #fff;
}
