.md p, .md ul, .md ol, .md li, .md h3, .md h4, .md h5, .md h6, .md table {
  font-size: 1em;
  margin: 10px 10%;
  padding: 10px 0px;
}

.md h3, .md h4, .md h5, .md h6 {
  padding: 10px 20px;
  display: inline-block;
}

.md ul {
  margin-left: 10px;
}

.md ol {
  margin-left: 20px;
}

div.md {
  color: #000;
  padding: 0px;
  margin: 0px;
  margin-top: 100px;
}

#md2, #github_menu {
  background: rgba(255, 192, 192, 0.5);
  /* background: rgba(234, 48, 2, 0.3);
  rgba(21,207,253,1)); */
}

.header_title,
h2.markdown-h2 {
  margin: 20px auto;
  padding: 20px 30px;
  display: table;
  background: #000;
  max-width: 80%;
}

.header_title,
h1.markdown-h1,
h2.markdown-h2,
h3.markdown-h3,
h4.markdown-h4,
h5.markdown-h5,
h6.markdown-h6 {
  color: #fff;
}

h1.markdown-h1,
h2.markdown-h2 {
  text-align: center;
}

h1.markdown-h1 {
  background-image: url('/images/spray.svg');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 300px 5% 300px 5%;
  margin: -200px auto -200px auto;
  font-size: 1.4em;
}

h1.markdown-h1 a {
  color: #fff;
  text-decoration: none;
}

h3.markdown-h3 {
  max-width: 60%;
  background-color: #323232;
}

h4.markdown-h4,
h5.markdown-h5,
h6.markdown-h6 {
  padding: 10px 20px;
}

h4.markdown-h4 {
  background-color: rgba(0, 0, 0, 0.3);
}

h5.markdown-h5 {
  background-color: rgba(0, 0, 0, 0.2);
}

h6.markdown-h6 {
  background-color: rgba(0, 0, 0, 0.1);
}

code.markdown-code,
blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 12%;
  padding: 20px;
  display: block;
}

blockquote {
  border-left: solid 3px #000;
}

blockquote p {
  padding: 0px;
  margin: 0px;
}

span.markdown-code-language {
  margin: 20px 20px -20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #EA3002;
  width: -moz-available;
  width: -webkit-fill-available;
  display: inline-block;
}

code[class^="markdown-code-"] {
  margin-top: 0px;
}

span.markdown-inline {
  background-color: rgba(64, 64, 64, 0.5);
  border: solid 1px rgba(192, 192, 192, 0.5);
  padding: 0px 5px 2px 5px;
}

a span.markdown-inline {
  color: #000;
  text-decoration: underline;
  margin-left: 8px;
}

div.markdown-img-container {
  text-align: center;
  max-width: 100%;
  margin: 0px 10px;
}

img.markdown-img {
  display: inline-block;
  padding: 20px auto;
  max-width: 44%;
  text-align: right;
  vertical-align: middle;
  margin: 0px 2%;
  max-height: 300px;
}

div.markdown-img-text-container {
  display: inline-block;
  width: 44%;
  vertical-align: middle;
  text-align: left;
  margin: 0px 2%;
}

div.markdown-img-text-container h1 {
  font-size: 1.4em;
}

div.markdown-img-text-container h1, div.markdown-img-text-container p, div.markdown-img-text-container ul, div.markdown-img-text-container li {
  margin: 0px;
  padding: 5px 0px;
  line-height: 1.2em;
  font-weight: bold;
}

div.markdown-img-text-container li {
  list-style: none;
}

div.markdown-img-text-container li::before {
  content: '📨';
  padding: 0 10px 0 0;
}

div.markdown-img-text-container button {
  background: #15CFFD;
  text-align: center;
  color: #FFF;
  border: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 25px;
  font-weight: bold;
}

div.markdown-container {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

div.markdown-container-warning {
  background-color: rgba(255, 255, 0, 0.2);
}

table.markdown-table {
  max-width: 80%;
  margin: 20px auto;
  padding: 0px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  border-spacing: 0px;
}

tr.markdown-tr {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 20px;
}

tr.markdown-tr-heading {
  background-color: rgba(0, 0, 0, 0.2);
}

td.markdown-td,
th.markdown-th {
  padding: 10px;
  text-align: left;
  margin: 0px;
  border: solid 1px #000;
}

@media (min-width:768px) {
  div.markdown-img-container {
    margin: 0px 5%;
  }
  img.markdown-img {
    max-height: 350px;
  }
}

@media (min-width:992px) {
  div.markdown-img-container {
    margin: 0px 10%;
  }
  img.markdown-img {
    max-height: 400px;
  }
}

